/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html {
    height: 100%;
}

body {
  all: unset;
  
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background-color: #FFF500;
}

#main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}

.my-btn {
    all: unset;
    
    background-color: #F4F4F4;
    font-size: large;
    color: #000000;
    text-align: center;
    
    cursor: pointer;
    
    padding: 0.5em 1em;
    border-radius: 25px;
    border: 1px solid #000000;
    margin: 0.25em;
}

.my-btn:hover {
    background-color: #EAEAEA;
}

.my-link {
    color: #000000;
    text-decoration: none;
}

.my-link:hover {
    text-decoration: underline;
}

.my-submit-btn {
    margin-top: 1em;
}

.form-error {
    color: #FF0000;
}