#form-masuk {
    display: flex;
    flex-direction: column;
    
    background-color: #F4F4F4;
    
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 1em;
    margin: 10vw;
    max-width: 300px;
}

#form-masuk > * {
    padding: 0.5em;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field > p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.form-field > * {
    font-size: large;
}

.my-btn {
    background-color: #E4E4E4;
}

.my-btn:hover {
    background-color: #DFDFDF;
}