{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Selamat Datang</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
<style>
    body {
        background-color: {{ user_color }};
    }
</style>
{% endblock meta %}

{% block content %}
<div id="main-div">
    {% if user.is_authenticated %}
    <div class="greetings">Halo, {{ user }}</div>
    <div><a class="my-link" href="/keluar">Bukan {{ user }}? Keluar</a></div>
    <div><p style="font-size: large;">Pilih warna</p></div>
    <input id="color-input" type="color" value="{{ user_color }}">
    {% else %}
    <div class="greetings">Selamat datang di</div>
    <div class="greetings"><b>Ganti Latar Belakang</b></div>
    <div>Ganti latar belakang ini sesuai selera Anda!</div>
    <div id="auth">
        <a class="my-btn" href="/masuk">Masuk</a>
        <a class="my-btn" href="/daftar">Daftar</a>
    </div>
    {% endif %}
</div>
{% endblock content %}
