{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftarkan Akun</title>
<link rel="stylesheet" href="{% static 'daftar/css/style.css' %}">
{% endblock meta %}

{% block content %}
<div id="main-div">
    <form action="" method="POST">
        {% csrf_token %}
        <div id="form-daftar">
            {% for field in form %}
            <div class="form-field">
                <p>{{ field.label }}</p>
                {{ field }}
                {% for error in field.errors %}
                    <div class="form-error">- {{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="form-error">- {{ error }}</div>
            {% endfor %}
            <button class="my-btn my-submit-btn" type="submit">Daftar</button>
            <div style="text-align: center;"><a class="my-link" href="{% url 'masuk:masuk' %}">Sudah punya akun? Masuk</a></div>
        </div>
    </form>
</div>
{% endblock content %}